body {
  overflow: hidden;
  background: #050A30;
  height: 500px;
  
}
input {
  position: absolute;
  display: none;
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu {
  margin: 0 auto;
  z-index: 1000; 
 position: absolute;
 display: block;
  align-items:center;
  justify-content: center;
  top:37%;
  left: 45%;
  place-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 1px 10px black;
  color: white;
  font-size: 35px;
  place-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  display: block;
  margin:0 auto;
  align-items: center;
  


}
.icon:hover{
  box-shadow: 0 1px 15px rgba(4, 242, 250, 0.438), 0 1px 28px rgba(5, 219, 247, 0.815);
}
.btn:hover{
  box-shadow: 0 1px 15px rgba(4, 242, 250, 0.438), 0 1px 28px rgba(5, 219, 247, 0.815);
  transform: scale(1.0);

}
.btn2:hover, .btn3:hover, .btn4:hover,.btn5:hover,.btn6:hover,.btn7:hover,.btn8:hover,.btn9:hover{
  box-shadow: 0 1px 15px rgba(4, 242, 250, 0.438), 0 1px 28px rgba(5, 219, 247, 0.815);
  transform: scale(1.0);

}
.btn2:nth-child(2) {
  top: 0px;
  left: 0px;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;


}
.btn3:nth-child(3) {
  left: 0px;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.btn4:nth-child(4) {
  top: 0px;
  left: 0px;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.btn5:nth-child(5) {
  top: 0px;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;

}
.btn6:nth-child(6) {
  top: 0px;
  left: 0px;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.btn7:nth-child(7) {
  left: 0px;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.btn8:nth-child(8) {
  top: 0px;
  left: 0px;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;

}
.btn9:nth-child(9) {
  top: 0px;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
input#toggle:checked ~ #show-menu .btn2:nth-child(2) {
  top: -200px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#toggle:checked ~ #show-menu .btn3:nth-child(3) {
  top: -140px;
  left: 140px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input#toggle:checked ~ #show-menu .btn4:nth-child(4) {
  left: 200px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input#toggle:checked ~ #show-menu .btn5:nth-child(5) {
  top: 140px;
  left: 140px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input#toggle:checked ~ #show-menu .btn6:nth-child(6) {
  top: 200px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.material-icons.md-36 {
  font-size: 35px;
  color: white;
  transition: all 0.8s;
  transform: rotate(360deg);
  position:block;
  align-items: center;
  margin-top: 33.3%;
  
 
 
}

.btn {
  
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
transition: all 0.8s;
width: 110px;
height: 110px;
border-radius: 50%;
position: absolute;
overflow: hidden;
cursor: pointer;
opacity: 0.2;
box-shadow: 0 1px 10px black;
 
}
.btn:not(:first-child) {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: -2;
}
input#toggle:checked ~ #show-menu .btn7:nth-child(7) {
  top: 140px;
  left: -140px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input#toggle:checked ~ #show-menu .btn8:nth-child(8) {
  left: -200px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  
}
input#toggle:checked ~ #show-menu .btn9:nth-child(9) {
  top: -140px;
  left: -140px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.closeBtn
.menuBtn {
  position: absolute;


}

.btn:nth-child{
  transition-delay: 0.05s;
  transform: rotate(120deg);
}

#overlay {
visibility: hidden;
}


#overlay a{
text-decoration: none;
color: white;

}

.btn:hover #overlay{
  visibility: visible;
  margin-top:-28%;


 
}

#overlay a{
  margin-top: -33%;
}


.menu #overlay1{
  visibility: hidden;
}

#overlay1 {
  display: block;
margin-top: -27%;
margin-left: 18%;
}
.icon:hover #overlay1{
  visibility: visible;
  position: absolute;
  opacity: 1;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 18px;
 
}



.btn:hover .material-icons.md-36{
  visibility: hidden;
  transition: 0.1s ease;

}

.menu .material-icons.md-35 {

  margin-left: 0%;
  margin-top: 40%;
}
.menu:hover .material-icons.md-35 {
  visibility: hidden;
 
}

.menu:hover .material-icons.md-35 {
  visibility: hidden;
  transition: 0.1s ease;
}

#overlay1{
  visibility: hidden;
}


.new_logo img{
  
  position: fixed;
  margin-top: -2%;
  margin-left: 2%;
  height: 300px;
  width: 300px;
  top: -1%;

  
  }

  p ion-icon{
      height: 50px;
      width: 50px;
      visibility: visible;
      color: white;
  }

  btn-back{
    display:block;
    margin-top: -34%;
    margin-left: 95%;
     background: #050A30;
     border-radius: 50%;
     height: 75px;
     width: 75px;
    padding: 10px;
 }

 button:hover{
     
     box-shadow: 0 1px 15px rgba(4, 242, 250, 0.438), 0 1px 28px rgba(5, 219, 247, 0.815);

 }
